{{#
	@name Footer
	@desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<footer class="bg-white font-Poppins fluid-container">
    <div class="mx-auto max-w-screen-xl pb-10">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
            <div>
                {{ partial:components/logo class="w-40" }}

                <div class="mt-2 flex gap-6 text-gray-500">
                    <a class="fill-footericon hover:fill-primary transition-all duration-200"
                        href="https://www.linkedin.com/company/nettt-interactieve-media/?originalSubdomain=nl"
                        target="_blank" rel="noreferrer">
                        <span class="sr-only"> Linkedin </span>
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" />
                        </svg>
                    </a>

                    <a class="fill-footericon hover:fill-primary transition-all duration-200"
                        href="https://www.facebook.com/nettt.interactieve.media/" target="_blank" rel="noreferrer">
                        <span class="sr-only"> Facebook </span>
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z" />
                        </svg>
                    </a>

                    <a class="fill-footericon hover:fill-primary transition-all duration-200"
                        href="https://twitter.com/TwitNettt" target="_blank" rel="noreferrer">
                        <span class="sr-only"> Twitter </span>
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z" />
                        </svg>
                    </a>

                </div>
            </div>

            <div class="grid grid-cols-1 gap-8 sm:grid-cols-3 lg:col-span-2 lg:grid-cols-3">
                <div>
                    <p class="text-md font-bold text-footertitle">Navigatie</p>
                    <nav class="mt-4 flex flex-col text-sm space-y-2.5 text-gray-500 font-Inter">
                        {{nav:main}}
                        <ul>
                            <li class="list-none">
                                <a class="hover:text-primary" href="{{ url }}">{{ title }}</a>
                            </li>
                        </ul>
                        {{/nav:main}}
                    </nav>
                </div>

                <div>
                    <p class="text-md font-bold text-footertitle">Contact</p>
                    <nav class="mt-4 flex flex-col text-sm text-gray-500">
                        <ul class="space-y-2.5">
                            <li class="list-none">
                                <a href="tel:0475358905" class="font-Inter hover:text-primary">
                                    0475 - 35 89 05
                                </a>
                            </li>
                            <li class="list-none">
                                <a href="mailto:info@nettt.nl" class="font-Inter hover:text-primary">
                                    info@nettt.nl
                                </a>
                            </li>
                            <li class="list-none">
                                <a href="https://get.teamviewer.com/hkvv4nu" class="font-Inter hover:text-primary">
                                    Helpdesk
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div>
                    <p class="text-md font-bold text-footertitle">Adres</p>
                    <nav class="mt-4 flex flex-col font-Inter text-sm space-y-2.5 text-gray-500">
                        <p>Nettt Interactieve Media</p>
                        <p>Stationsweg 84</p>
                        <p>6075 CD, Herkenbosch</p>
                    </nav>
                </div>

            </div>
        </div>

        <p class="mt-8 md:mt-12 lg:mt-16 max-w-screen-xl text-xs font-Inter text-gray-500 md:flex justify-center">&copy; 2023&nbsp;<a
                class="hover:text-primary" href="{{site:url}}">Nettt Interactieve
                Media</a>&nbsp;-&nbsp;Webdesign & Webdevelopment Limburg -&nbsp;<a class="hover:text-primary"
                href="/voorwaarden-and-privacy">Voorwaarden & Privacy</a></p>
    </div>
</footer>

<div class="bg-cardshover pt-10 pb-10">
    <div>
        <ul class="fluid-container flex flex-wrap max-w-4xl mx-auto gap-3 md:justify-center">
             {{themepagelinks:themepagetitles}}
            <li class="list-none text-[13px] leading-[10px] font-Inter text-gray-500 hover:text-primary">
                <a href="{{page_link}}">
                    {{title}}
                </a>
            </li>
            {{/themepagelinks:themepagetitles}}
        </ul>
    </div>
</div>
<!-- End: /layout/_footer.antlers.html -->
