{{#
@name partners
@desc The partners page builder block.
@set page.page_builder.partners
#}}

<!-- /page_builder/_partners.antlers.html -->
<section class="fluid-container pt-16 animated fade-up delay-400 text-left sm:text-center">

    <h2 class="text-3xl lg:text-4xl font-Poppins font-bold text-secondary tracking-tight">{{title_blue}} <span
            class="text-primary">{{title_pink}}</span>
    </h2>
    
</section>

{{partial:components/sliderblock}}
<!-- End: /page_builder/_partners.antlers.html -->
