{{#
@name slider
@desc The slider page builder block.
@set page.page_builder.slider
#}}

<!-- /page_builder/_slider.antlers.html -->
<section class="fluid-container pt-16 animated fade-up delay-400">
    <div class="mx-auto">
        <div class="customer-logos slide p-3">
            {{ tools }}
            <div class="slide">
                <div class="flex h-full justify-center flex-col align-center p-3">
                    <img src="{{url}}" alt="{{alt}}" width="75%" height="75%"
                        class="grayscale hover:grayscale-0 transition duration-200 mx-auto">
                </div>
            </div>
            {{/tools}}
        </div>
    </div>
</section>

<style>
    .slick-track {
        display: flex !important;
    }

    .slick-slide {
        height: auto;
    }

</style>
<!-- End: /page_builder/_slider.antlers.html -->
