{{#
@name teamblock
@desc The teamblock page builder block.
@set page.page_builder.teamblock
#}}

<!-- /page_builder/_teamblock.antlers.html -->
<section class="fluid-container pt-16 animated fade-up delay-400 {{ if center == true }} text-left sm:text-center {{/if}}">

    <h2 class="text-3xl lg:text-4xl font-Poppins font-bold text-secondary tracking-tight">{{titleblue}} <span
            class="text-primary">{{titlepink}}</span>
    </h2>

    {{if titledescription != ""}}
    <p class="mt-2 font-Inter text-base text-tertiary">{{titledescription}}</p>
    {{/if}}
    
</section>

<section class="fluid-container pt-16">
    <div class="grid gap-10 sm:grid-cols-2 lg:grid-cols-3">
        {{staffmembers}}
        <div class="animated fade-up delay-400">
            <div
                class="relative overflow-hidden transition duration-300 transform rounded-xl shadow-2xl lg:hover:-translate-y-2">
                {{image}}
                <img class="object-cover bg-cover bg-center bg-no-repeat w-full rounded-xl h-full lg:h-56 shadow-2xl" src="{{url}}" alt="{{alt}}" width="400"
                    height="300">
                {{/image}}
                
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100">
                    <div class="mb-1 text-lg font-Poppins text-white">{{name}}</div>
                    <div class="mb-2 text-sm font-Inter text-white">{{function}}</div>

                    <div class="flex items-center justify-center space-x-3">
                        {{if mail}}
                        <a href="{{mail}}">
                            <svg class="h-6 fill-white hover:fill-primary transition duration-200"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                            </svg>
                        </a>
                        {{/if}}

                        {{if linkedin}}
                        <a href="{{linkedin}}">
                            <svg class="h-6 fill-white hover:fill-primary transition duration-200"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path
                                    d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" />
                            </svg>
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/staffmembers}}
    </div>
</section>
<!-- End: /page_builder/_teamblock.antlers.html -->
