{{#
@name titles-descriptions-h1
@desc The titles-descriptions-h1 page builder block.
@set page.page_builder.titles-descriptions-h1
#}}

<!-- /page_builder/_titles-descriptions-h1.antlers.html -->
<section class="fluid-container pt-16 animated fade-up delay-400 {{ if center == true }} text-left sm:text-center {{/if}}">

    <h1 class="text-4xl font-Poppins font-bold text-secondary tracking-tight">{{titleblue}} <span
            class="text-primary">{{titlepink}}</span>
    </h1>

    <p class="mt-2 font-Inter text-base text-tertiary">{{description}}</p>
    
</section>
<!-- End: /page_builder/_titles-descriptions-h1.antlers.html -->
