{{#
@name titles-descriptions
@desc The titles-descriptions page builder block.
@set page.page_builder.titles-descriptions
#}}

<!-- /page_builder/_titles-descriptions.antlers.html -->
<section class="fluid-container pt-16 animated fade-up delay-400 {{ if center == true }} text-left sm:text-center {{/if}}">

    <h2 class="text-3xl lg:text-4xl font-Poppins font-bold text-secondary tracking-tight">{{titleblue}} <span
            class="text-primary">{{titlepink}}</span>
    </h2>

    <p class="mt-2 font-Inter text-base text-tertiary">{{description}}</p>
    
</section>
<!-- End: /page_builder/_titles-descriptions.antlers.html -->
